.App {
  text-align: center;

  .App-error {
    padding: 50px;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 3px 4px 3px #37b1f3;
    @media (max-width: 540px) {
      padding: 80px;
      margin: 0 auto;
    }
  }
}
